/* Base Colors */

:root {
  --border-base: 183, 100%, 35%;
  --background-primary: 216, 18%, 16%;
  --background-secondary: 189, 100%, 99%;
  --text-color-primary: 0, 0%, 93%;
  --text-color-secondary: 240, 11%, 20%;
  --text-color-gray: 218, 11%, 65%;
  --text-placeholder: 217, 10%, 25%;
  --text-color-tertiary: 204, 13%, 55%;
}

input, textarea {
  &::placeholder {
    opacity: 1;
    color: var(--text-placeholder);
  }
}

p {
  color: hsl(var(--text-color-secondary));
}

*, ::before, ::after {
  border-color: hsl(var(--border-base));
}