/* Base Global Reset */

html, :host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

code, kbd, samp, pre {
  font-size: 1em;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

b, strong {
  font-weight: 600;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

/* Remove the inheritance of text transform in Edge and Firefox. */
button, select {
  text-transform: none;
}

/* Add the correct text decoration in Chrome, Edge, and Safari. */
abbr:where([title]) {
  text-decoration: underline dotted;
}

/* Reset default styling for dialogs. */
dialog {
  padding: 0;
}

/* Prevent resizing textareas horizontally by default.*/
textarea {
  resize: vertical;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}